##ignore this file##
/target/

.classpath
.project
.settings     
 ##filter databfile、sln file##
*.mdb  
*.ldb  
*.sln
.idea/*
.eclipse/*
.settings/*
##class file##
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so
*.iml