<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--  -->
	<bean id="springAware" class="com.study.common.startup.SpringAware">
	
	</bean>
	
	<!-- 配置启动项 -->
	<bean id="startup" factory-method="getInstance" init-method="start" class="com.study.common.startup.Startup">
		<property name="startupConfigs">
			<list>
				<ref bean="initTask" />
			</list>
		</property>
	</bean>
    
    <bean id="initTask" class="com.study.common.startup.InitTask" factory-method="getInstance"/>
    
    <!-- 审批策略工厂 -->
    <bean id="strategyFactory" class="com.study.common.AuditStrategyFactory"
    	factory-method="getInstance">
		<property name="serviceConfigs">
			<map>
				<entry key="1" value="addCarInfoService"></entry>
			</map>
		</property>
    </bean>
</beans>