<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 若Spring IOC容器和 SpringMVC IOC容器扫描有重合的 bean会创建两次 -->
    <context:component-scan base-package="com.study.controller"/>

	<!--配置视图解析器-->
	<!-- 返回值会通过视图解析器解析为实际的物理视图, 对于InternalResourceViewResolver视图解析器 -->
	<!-- 做转发操作 -->
	<!-- 使用RequestMapping 注解来映射请求的URL -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" />


        <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- <mvc:interceptor>
            <mvc:mapping path="/api/**" />
            <bean class="com.study.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor> -->
		<mvc:interceptor>
			<mvc:mapping path="/api/**"/>
			<ref bean="authInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

     <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
         <property name="messageConverters">
         	<list>
				<ref bean="baseConverters" />
			</list>
         </property>
     </bean>
     
     <bean id="baseConverters" class="com.study.common.web.BaseConverterWrapper">
         <constructor-arg name="msgConverter" ref="jsonConverters" />
     </bean>
     
     <bean id="jsonConverters" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
     	<property name="supportedMediaTypes">
     		<list>
     		   <value>application/json;charset=UTF-8</value>
     		   <value>text/html;charset=UTF-8</value>
     		   <value>application/octet-stream;charset=UTF-8</value>
     		</list>
     	</property>
     	<property name="objectMapper">
     		<bean class="com.study.common.web.Long2StringObjectMapper"/>
     	</property>
     </bean>
     
	 <!-- mvc:annotation-driven会自动注册
     RequestMappingHandlerMapping 
     RequestMappingHandlerAdapter
     ExceptionHandlerExceptionResolver 三个bean
     
               支持@Valid注解和RequestBody, ResponseBody
     -->
    <mvc:annotation-driven />
    
    <bean id="authInterceptor" class="com.study.interceptor.AuthInterceptor" />
</beans>